/* Cards */
.cards {
  position: relative;
}

.cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.cards__card {
  max-width: 400px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
}

/* Hover gradients */
.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  padding: 2.5rem 2rem;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 1rem;
}

.card:nth-child(1) {
  --hue: 600;
  --saturation: 100.9%;
  --lightness: 80%;
}

.card:nth-child(2) {
  --hue: 600;
  --saturation: 100.9%;
  --lightness: 65%;
}

.card:nth-child(3) {
  --hue: 600;
  --saturation: 100.9%;
  --lightness: 80%;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    20rem 20rem at var(--x) var(--y),
    black 1%,
    transparent 50%
  );
  mask: radial-gradient(
    20rem 20rem at var(--x) var(--y),
    black 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

/* Special gradient for recommended card */
.recommended-gradient {
  background: transparent;
  background: radial-gradient(
    circle,
    rgba(var(--purple-shade), 0.55) 0%,
    rgba(var(--white-shade), 0) 82%
  );
}

/* Mobile view */
@media (max-width: 1024px) {
  .cards__container {
    grid-template-columns: 1fr;
  }
}
